* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  --section-title-font-size: 3rem;
  --section-subtitle-font-size: 2rem;
  --section-paragraph-font-size: 1.2rem;
}

/* FIRST SECTION */
/* ======================= */
#first-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  width: 100%;
  background-color: darkblue;
}

.first-section-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
  background-color: blue;
  border-radius: 0.5rem;
  color: white;
}

.first-section-container__content > h1 {
  font-size: var(--section-title-font-size);
}

.first-section-container__content > p {
  font-size: var(--section-paragraph-font-size);
}

.first-section-container__content > button {
  width: 30%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  background-color: darkblue;
  color: white;
  border: none;

  transition: transform 0.1s ease-in;
}

.first-section-container__content > button:hover {
  transform: scale(1.05);
}

.first-section-container__content > button > a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

/* SECOND SECTION */
/* ======================= */

#second-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 2rem;
  width: 100%;
  background-color: blue;
}

.second-section-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  border-radius: 0.5rem;
  background-color: darkblue;
  padding: 3rem;
}

.second-section-container__content > h2 {
  font-size: var(--section-title-font-size);
}

.second-section-container__content > p {
  font-size: var(--section-paragraph-font-size);
}

/* THIRD SECTION */
/* ======================= */

#third-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  width: 100%;
  background-color: darkblue;
}

.third-section-container__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}

.tshirt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.tshirt-container > h3 {
  font-size: var(--section-subtitle-font-size);
}

.tshirt-container > img {
  width: 60%;
  height: auto;
  border-radius: 1rem;

  transition: transform 0.1s ease-in;
}

.tshirt-container > img:hover {
  transform: scale(1.05);
}

.tshirt-container > p {
  font-size: var(--section-paragraph-font-size);
  width: 60%;
}

/* FOURTH SECTION */
/* ======================= */

#fourth-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  width: 100%;
  background-color: blue;
}

.fourth-section-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  padding: 3rem;
  background-color: darkblue;
  border-radius: 0.5rem;
}

.fourth-section-container__content > h2 {
  font-size: var(--section-title-font-size);
}

.fourth-section-container__content > p {
  font-size: var(--section-paragraph-font-size);
}

/* FIFTH SECTION */
/* ======================= */

#fifth-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: darkblue;
}

.fifth-section-container__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  width: 100%;
}

.fifth-section-container__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  color: white;
  width: 50%;
  gap: 1rem;
  padding: 1rem;
}

.fifth-section-container__section:first-child {
  background-color: cyan;
  color: black;
}

.fifth-section-container__section > p > a {
  text-decoration: none;
}

.fifth-section-container__section > p > a:hover {
  text-decoration: underline;
}

.fifth-section-container__section > h2 {
  font-size: var(--section-subtitle-font-size);
}

.fifth-section-container__section > p {
  font-size: var(--section-paragraph-font-size);
  width: 50%;
}

/* FOOTER */
/* ======================= */

#footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem 2rem;
  background-color: blue;
}

.footer-container__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 3rem;
  color: white;
}

.footer-container__content > p {
  font-size: var(--section-paragraph-font-size);
}

.footer-container__content > p > a {
  text-decoration: none;
  color: cyan;
}

.footer-container__content > p > a:hover {
  text-decoration: underline;
}
